.btw-header {
  .btw-off-header {
    .navbar-nav {
      width: 85%;
      text-align: center;
      > li {
        float: none;
        display: inline-block;
      }
    }
    nav {
      background-color: #F8FAFC;
      a {
        color: #353C4C;
      }
      a:hover {
        color: black;
      }
    }
  }
  .btw-on-header {

  }
  .btw-logo {
    width: 60px;
    margin-left: 2%;
  }
}
