.btw-nav-image {
  display: flex;
  justify-content: center;
  position: relative;
  .btw-image {
    width: 100%;
    height: 350px;
  }
  .btw-name {
    position: absolute;
    left: 0;
    margin: 10px 0 0 20px;
    color: white;
    font-size: 23px;
  }
}