
@import "_colors.scss";
@import "spacing.scss";
@import "../../node_modules/bourbon/core/bourbon.scss";
@import "../../node_modules/bourbon-neat/contrib/styles.scss";


$text-dark: color("black");
$input-border-width: 1px;
$input-active-border-color: color("interactive-blue");
$label-color: color("inky-blue");
$input-grey-color: color("graphite-dark");
$placeholder-text-color: color("dolphin");
$input-text-color: color("dolphin");
$label-line-height: 1.5em;
$label-font-style: uppercase;
$label-height: uppercase;
$error-color: color("deep-red");
$disabled-color: #FAFAFA;
$input_height--large: 60px;
$input_height--small: 50px;
$outer-gutter-spacing: $small-spacing;
$mobile-max: 600px;
$tablet-max: 768px;
$desktop-small-max: 1024px;
$desktop-medium-max: 1280px;
$tablet-min: $mobile-max+1px;
$desktop-small-min: $tablet-max+1px;
$desktop-medium-min: $desktop-small-max+1px;
$desktop-large-min: $desktop-medium-max+1px;
$default-feature: min-width;
$mobile: new-breakpoint(max-width $mobile-max, 12);
$tablet: new-breakpoint(min-width #{$tablet-min} max-width #{$tablet-max}, 12);
$desktop-small: new-breakpoint(min-width #{$desktop-small-min} max-width #{$desktop-small-max}, 12);
$desktop-medium: new-breakpoint(min-width #{$desktop-medium-min} max-width #{$desktop-medium-max}, 12);
$desktop-large: new-breakpoint(min-width $desktop-large-min, 12);
$tablet-up: new-breakpoint(min-width $tablet-min, 12);
$desktop-small-up: new-breakpoint(min-width $desktop-small-min, 12);
$desktop-medium-up: new-breakpoint(min-width $desktop-medium-min, 12);
$device: new-breakpoint(max-width $tablet-max, 12);
$desktop: $desktop-small-up;
$max-width: $desktop-medium-max - ($outer-gutter-spacing * 2);
$checkbox-size-mobile:10px;
$extra-tiny-font-size: 5px;

$clear-icon-path: 'assets/images/clear_x.svg';
@mixin form-messages {
  @include styling(8);
  & p {
    margin: $extra-tiny-spacing auto;
  }
}

%form-group {
  input {
    @extend %form-control;
    @include media($desktop) {
      max-height: $input_height--large;
    }
    @include media($mobile) {
      max-height: $input_height--small;
    }
  }
  label {
    font-size: $extra-tiny-font-size;
    @include media($desktop) {
      font-size: $tiny-font-size;
    }
    color: $label-color;
    display: block;
    line-height: $label-line-height;
    margin-bottom: $tiny-spacing;
    text-transform: $label-font-style;
  }
  .form-textbox {
    input {
      padding-right: 32px;
      width: 236px;
      &::-ms-clear {
        display: none;
      }
    }
    position: relative;
    .close-icon {
      //@include input_close-icon;
    }
  }
}

%form-control {
  //@include checkbox($checkbox-size-mobile);
  padding: $tiny-spacing - $input-border-width;
  border: solid $input-border-width $input-grey-color;
  vertical-align: middle;
  color: color('blue');
  height: $input_height--large;
  &:focus {
    border-color: $input-active-border-color;
  }
  &::-webkit-input-placeholder {
    color: $placeholder-text-color;
  }
  &:-moz-placeholder {
    color: $placeholder-text-color;
  }
}


@mixin form-control {
  //@include checkbox($checkbox-size-mobile);
  padding: $tiny-spacing - $input-border-width;
  border: solid $input-border-width $input-grey-color;
  vertical-align: middle;
  color: $text-dark;
  &:focus {
    border-color: $input-active-border-color;
  }
  &::-webkit-input-placeholder {
    color: $placeholder-text-color;
  }
  &:-moz-placeholder {
    color: $placeholder-text-color;
  }
}

@mixin disabled-field {
  border: solid 1px $disabled-color;
  background-color: $disabled-color;
  cursor: not-allowed !important;
}

@mixin form-group {
  input {
    @include form-control;
    @include media($desktop) {
      min-height: $xl-spacing;
      max-height: $xl-spacing;
    }
  }
  label {
    font-size: $extra-tiny-font-size;
    color: $label-color;
    display: block;
    line-height: $label-line-height;
    margin-bottom: $tiny-spacing;
    text-transform: $label-font-style;
    @include media($desktop) {
      font-size: $tiny-font-size;
    }
  }
}

@mixin input_close-icon {
  position: absolute;
  top: 5px;
  right: 25px;
  border: none;
  background: none;
  display: none;
  padding: 0;
  cursor: pointer;
  &:before {
    content: " ";
    background: url($clear-icon-path) no-repeat;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    top: 10px;
    height: 18px;
  }
}