.btw-admin-dashboard {
  margin-top: 30px;

  .block-padding {
    padding-left: 1%;
    padding-right: 1%;
  }

  .icon-div {
    @extend .button-base;
    display: flex;
    align-items: center;
    height: 120px;
    color: #F8FAFC;
    padding-left: 20px;
  }

  .button-base {
    margin-top: 5%;
    cursor: pointer;
  }

  .button-text {
    padding-left: 22px;
    font-size: 20px;
  }

  .messages {
    background-color: #8DA3CA;
    &:hover {
      background-color: darken(#8DA3CA, 20%);
    }
  }

  .manage-captains {
    background-color: #B6B7B2;
    &:hover {
      background-color: darken(#B6B7B2, 20%);
    }
  }

  .manage-voters {
    background-color: #006BA6;
    &:hover {
      background-color: darken(#006BA6, 20%);
    }
  }

  .forum {
    background-color: #A2B3A4;
    &:hover {
      background-color: darken(#A2B3A4, 20%);
    }
  }


  .right-column {
    @extend .button-base;
    height: 260px;
    background-color: #37C1D1;
    color: #F8FAFC;
    .label {
      text-decoration: underline;
      text-decoration-color: #F8FAFC;
    }
    font-size: 19px;
    div {
      padding: 15px 0 15px 0;
      span {
        padding-left: 25px;
      }
    }
    .notification {
      &:hover {
        background-color: darken(#37C1D1, 9%);
      }
      .count {
        border: 2px solid white;
        padding: 0px 6px 0px 4px;
        color: white;
        margin-left: 3px;
      }
    }
    .community {
      &:hover {
        background-color: darken(#37C1D1, 9%);
      }
    }
  }
}