.btw-button {
  border: none;
  border-radius: 0;

  @include respond-to($phone) {
    padding: 0 $button-padding_mobile;
  }
  @include respond-to($desktop) {
    padding: 0 $button-padding;
  }

  font-family: Verdana,Arial,sans-serif;
  font-size: $font_size_input;
  font-weight: $font_weight_bold;
  height: $input_field_height + 10px;
  background-color: #006BA6;
  transition: background-color .2s ease,color .2s ease,border-color .2s ease;

  &:hover {
    background-color: #003B71;
  }
}

.btw-input {
  display: block;
  width: 100%;
  padding: 14px;
  border: 1px solid #D3D6DC;
  vertical-align: middle;
  color: #0D1C3D;
  height: $input_field_height;
  font-size: $font_size_input;

  &:focus {
    border-color: #006BA6;
  }
}

.btw-label {
  font-weight: $font_weight_normal;
  font-size: $font_size_label;
}

.btw-select {
  display: block;
  width: 100%;
  padding: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #D3D6DC;
  vertical-align: middle;
  color: #0D1C3D;
  height: $input_field_height;
  font-size: $font_size_input;
  background-color: white;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;

  background: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/MediaWiki_Vector_skin_action_arrow.svg) 96% / 8% no-repeat;

  &:focus {
    border-color: #006BA6;
  }
}