$margin_top: 50px;
$max_width: 900px;

$font_size_title: 33px;
$font_size_desc: 20px;
$font_size_input: 1.4em;
$font_size_label: 18px;

$font_weight_normal: 400;
$font_weight_bold: 600;

$input_field_height: 50px;
$input_field_space: 4%;


$button-padding: null;


$button-padding: 45px;
$button-padding_mobile: 15px;

