$height: 600px;

.btw-message-list {
  margin-top: 2%;
  .chat-content {
    margin-top: 1%;
    .chats {
      border: 1px solid lightgray;
      height: $height;
      color: white;
      overflow-y: auto;
      overflow-x: hidden;
      .chat {
        border-bottom: 2px solid white;
        background-color: #7892C0;
        cursor: pointer;
        padding: 6% 2% 6% 4%;
        &.selected {
          background-color: darken(#7892C0, 15%);
        }
        &:hover {
          background-color: darken(#7892C0, 7%);
        }
      }
    }

    .chat-body {
      height: $height;
      border: 1px solid lightgray;
      position: relative;
      .messages {
        height: 67%;
        overflow-y: auto;
        overflow-x: hidden;
        .msg {
          display: flex;
          align-items: center;
          padding: 2%;
        }
        .msg-from {
          @extend .msg;
          justify-content: flex-start;
        }
        .msg-to {
          @extend .msg;
          justify-content: flex-end;
        }
        .msg-box {
          margin: 0 2% 0 2%;
          padding: 2%;
          background-color: #7892C0;
          color: white;
        }
      }
      .controls {
        padding: 2%;
        width: 100%;
        height: 180px;
        bottom: 0;
        border-top: 1px solid lightgray;
        position: absolute;
      }
    }

    .msg-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    button {
      @extend .btw-button;
    }
  }
}