@import './sizes.scss';

.btw-button {
  border: none;
  border-radius: 0;
  padding: 0 50px;
  font-family: Verdana,Arial,sans-serif;
  font-size: $font_size_input;
  font-weight: $font_weight_bold;
  height: $input_field_height + 10px;
  background-color: #006BA6;
  transition: background-color .2s ease,color .2s ease,border-color .2s ease;

  &:hover {
    background-color: #003B71;
  }
}

.btw-input {
  display: block;
  width: 100%;
  padding: 14px;
  border: 1px solid #D3D6DC;
  vertical-align: middle;
  color: #0D1C3D;
  height: $input_field_height;
  font-size: $font_size_input;

  &:focus {
    border-color: #006BA6;
  }
}

.btw-label {
  font-weight: $font_weight_normal;
  font-size: $font_size_label;
}

.btw-identity {

	margin: auto;
    margin-top: $margin_top;
    width: $max_width;
    text-align: center;
    font-family: Verdana,Arial,sans-serif;

    .intro {
        margin-top: $margin_top;
        text-align: center;
    }

    .intro-title {
        font-size: $font_size_title;
    }

    .intro-desc {
        margin-top: 30px;
        font-size: $font_size_desc;
    }

    form {
        width: $max_width - 300px;
        margin: auto;
        margin-top: 70px;

        label {
            margin-bottom: 15px;
            font-weight: $font_weight_normal;
            font-size: $font_size_label;
        }

        input {
            display: block;
            width: 100%;
            padding: 14px;
            border: 1px solid #D3D6DC;
            vertical-align: middle;
            color: #0D1C3D;
            height: $input_field_height;
            font-size: $font_size_input;
    
            &:focus {
                border-color: #006BA6;
            }
		    }
		
        span {
          color: red;
        }

        .form-group {
            margin-bottom: $input_field_space;
        }
    }
}