$brand_color_blue: #58B9FE;
$brand_color_green: #5FD837;
$tasks-icon-size: 110px;
$link-icon-size: 85px;

.btw-captains-dashboard {
  text-align: center;
  .name {
    font-size: 26px;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .blue-circle {
    color: $brand_color_blue;
    border-radius: 50%;
    border: 3px solid $brand_color_blue;
  }
  .grey-circle {
    border-radius: 50%;
    position: relative;
    border: 1px solid lightgray;
  }
  .tasks {
    width: $tasks-icon-size;
    height: $tasks-icon-size;
    margin: 20px;
    cursor: pointer;
    position: relative;
  }
  .link-icon {
    width: $link-icon-size;
    height: $link-icon-size;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .bold-text {
    font-weight: bold;
  }

  .green-text {
    color: $brand_color_green;
  }
  .blue-text {
    color: $brand_color_blue;
  }
  .blue-label {
    font-size: 17px;
    @extend .blue-text;
  }
  .tasks-label {
    font-size: 22px;
  }

  .dynamic-content {
    border: 1px solid lightgray;
    margin-top: 50px;
    height: 200px;
  }

  // inners numbers
  .level {
    position: absolute;
    color: white;
    top: 33%;
  }

  .notification {
    position: absolute;
    top: -9px;
    right: -11px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    font-size: 21px;
    font-weight: bold;
  }

  // partial circle
  .arc {
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
    right: 50%;
    bottom: 50%;
    transform-origin: 100% 100%;
    transform: rotate(90deg) skewX(30deg);
  }
  .arc:before {
    box-sizing: border-box;
    display: block;
    border: solid 5px $brand_color_green;
    width: 200%; height: 200%;
    border-radius: 50%;
    transform: skewX(-30deg);
    content: '';
  }
}