$brand_color_blue: #58B9FE;
$brand_color_green: #5FD837;
$tasks-icon-size: 110px;
$link-icon-size: 85px;

.btw-captains-dashboard {
  .button-base {
    margin-top: 30px;
    cursor: pointer;
  }
  .icon-div {
    @extend .button-base;
    display: flex;
    align-items: center;
    height: 120px;
    color: #F8FAFC;
    padding-left: 20px;
  }
  .button-text {
    padding-left: 22px;
    font-size: 20px;
  }
  .tasks {
    background-color: #8DA3CA;
    &:hover {
      background-color: darken(#8DA3CA, 20%);
    }
  }
  .voters {
    background-color: #B6B7B2;
    &:hover {
      background-color: darken(#B6B7B2, 20%);
    }
  }
  .invites {
    background-color: #006BA6;
    &:hover {
      background-color: darken(#006BA6, 20%);
    }
  }
  .forum {
    background-color: #A2B3A4;
    &:hover {
      background-color: darken(#A2B3A4, 20%);
    }
  }
  .right-column {
    @extend .button-base;
    height: 270px;
    background-color: #37C1D1;
    color: #F8FAFC;
    .label {
      text-decoration: underline;
      text-decoration-color: #F8FAFC;
    }
    font-size: 19px;
    div {
      padding: 15px 0 15px 0;
      span {
        padding-left: 25px;
      }
    }
    .notification {
      &:hover {
        background-color: darken(#37C1D1, 9%);
      }
      .count {
        border: 2px solid lighten(black, 45%);
        padding: 0px 6px 0px 4px;
        color: lighten(black, 45%);
        border-radius: 50%;
        margin-left: 3px;
      }
    }
    .community {
      &:hover {
        background-color: darken(#37C1D1, 9%);
      }
    }
  }
}