.btw-login {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .btw-form {
    margin-top: 8%;
    width: 30%;
    .form-group {
      label {
        @extend .btw-label;
        margin-bottom: 15px;
      }

      input {
        @extend .btw-input
      }
    }

    button {
      @extend .btw-button;
      width: 100%;
      margin-top: $input_field_space;
    }
  }

}