.btw-register {
    .password-div {
        height: 173px;
        text-align: left;
    }

    #btn_signup button {
        @extend .btw-button;
    }

    button {
      @extend .btw-button;
    }

    .video {
        width: 80%;
        height: 400px;
    }
}
