.btw-register {

    #btn_signup button {
        @extend .btw-button;
        margin-top: $input_field_space;
    }

    button {
      @extend .btw-button;
    }

    .video {
        width: 80%;
        height: 400px;
    }
}
