.btw-voter {
	margin: auto;
    margin-top: $margin_top;
    @include respond-to($desktop) {
        width: $max_width;
    }
    text-align: center;
    font-family: Verdana,Arial,sans-serif;

    .intro {
        margin-top: $margin_top;
        text-align: center;
    }

    .intro-title {
        font-size: $font_size_title;
    }

    .intro-desc {
        margin-top: 30px;
        font-size: $font_size_desc;
    }

    form {
        @include respond-to($desktop) {
            width: $max_width;
        }
        margin: auto;
        margin-top: 70px;

        label {
            margin-bottom: 15px;
            @extend .btw-label;
        }

        input {
            @extend .btw-input;
		}
		
        span {
          color: red;
        }

        .form-group {
            margin-bottom: $input_field_space;
        }

        select {
            @extend .btw-select;
        }
    }
}

.voter-row {
    height: auto;
    background-color: #3C98D9;
    margin-top: 13px;
    padding: 14px;
    color: white;

    .name-info {
        font-size: 18px;
    }
    .more-info {
        text-align: left;
    }
    .link {
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: darken(white, 10%);
        }
    }
}