.btw-match-list {
    @include respond-to($desktop) {
      width: 42%;
    }
    button {
      @extend .btw-button;
    }
    #btn_not_sure button {
      @extend .btw-button;
      margin-top: $input_field_space;
    }
    .match-list {
      .name-row {
        @extend .voter-row;
        cursor: pointer;
        &:hover {
          background-color: darken(#3C98D9, 7%);
        }
      }
    }
}