.btw-voter-success {
  .full-name {
    font-size: 28px;
  }
  .success-icon {
    color: #67C100;
    font-size: 200px;
  }
  .try-next {
    font-size: 18px;
  }
  .next-button {
    margin-top: 5%;
  }
  button {
    @extend .btw-button;
  }
}